- content_for(:opengraph) do
  %meta{property: 'og:type', content: 'blog'}
  %meta{property: 'og:title', content: current_page.title}

= wrap_layout :layout do
  .article-page
    %article{ itemscope: true, itemtype: 'http://schema.org/BlogPosting' }
      .row
        .col-xs-12
          %h1{ itemprop: 'headline' }= current_article.title
          %time{ datetime: current_article.date }
            Posted on
            %meta{ itemprop: 'datePublished', content: current_article.date }= current_article.date.strftime '%D'
            by
            %span{ itemprop: 'author' }
              %span{ itemscope: true, itemtype: 'http://schema.org/Person' }
                %span{ itemprop: 'name' } Alessandro Tagliapietra
      .row
        .col-xs-12
          = link_to '/index.html' do
            %i.fa.fa-arrow-circle-left
            Back to blog index
      .row
        .col-xs-12
          .article-content{ itemprop: 'articleBody' }
            = current_article.body
      .row
        .col-xs-12
          = link_to '/index.html' do
            %i.fa.fa-arrow-circle-left
            Back to blog index
      .row
        .col-xs-12
          .addthis_recommended_horizontal