= content_for :container_content do
  .row
    .col-xs-12
      = link_to '/index.html', class: 'back' do
        %i.fa.fa-arrow-circle-left
        Back to index
      .photo-header
        .text-center
          = link_to '/index.html' do
            .photo
              = image_tag 'avatar.jpg', alt: 'Avatar'
          %h1.text
            Hello,
            %br/
            I'm
            %span Alessandro
            and this is my resume/cv

  .row
    .col-xs-12.col-sm-7
      .box
        %h2 About
        %P
          I'm a full stack developer.
          %br/
          I am truly passionate about: software development. I love learning new languages and frameworks, following best practices to make code easy to read, efficient and well organised.
          %br/
          I'm a big fan of continuous delivery and I love to keep things simple and work by small iterations.
          %br/
          %br/
          I currently work for a small company that enable firms to harvest value out of their informative assets. For them we design and engineer interactive visual solutions for data analysis and content engagement. We've also created and are currently maintaining our own projects regarding sport events tracking, ultra-high resolution images and custom interactive dashboards.
          %br/
          I started my career maintaining an image processing project written in PHP, which I rewrote in Ruby (RoR) a year later using Sidekiq and docker containers for background tasks. I moved another PHP project from a custom framework to Symfony heavily using many of the AWS services, Chef recipes for configuration and deployment, autoscaling etc... I wrote our dashboard project from scratch using Ember.js, Ruby on Rails and Spray (tool on top of akka and scala used for async and long running I/O operations).
          %br/
          %br/
          I currently live in Italy but I'm going to move to the USA in end of 2015 since I've been selected for the
          %a{ href: 'https://www.dvlottery.state.gov/', target: '_blank' } diversity visa
          \.
          %br
      .box.jobs
        %h2 Experiences
        .job.clearfix
          .col-xs-3
            .where Visup
            .year 2011 - current
          .col-xs-9
            .profession Full stack developer
            .description Lead developer on various projects using different technologies like: Ruby (on Rails), PHP, HTML, CSS, Javascript, Symfony, MySQL, PostgreSql.
      .box.projects
        %h2 Projects
        .project.clearfix
          .col-xs-3
            .name Closr.it
          .col-xs-9
            .description Lead (and only) developer. I've built all the infrastructure and the code that powers Closr.it, starting from the backend with Docker and Ruby on Rails, to the frontend using AngularJS, Sass and Haml
            .technology
              .title Technologies used:
              .text Amazon Web Services, Docker, CircleCI, Ruby on Rails, Sass, Haml, Vips, Chef, AngularJS
        .project.clearfix
          .col-xs-3
            .name GoalShouter.com
          .col-xs-9
            .description I've worked for the rebuild of GoalShouter using Symfony and implemented the new features now being used by some of the most important italian Soccer Clubs
            .technology
              .title Technologies used:
              .text Amazon Web Services, Symfony, PHP, Sass, Chef, AngularJS
        .project.clearfix
          .col-xs-3
            .name Tadaboard.com
          .col-xs-9
            .description A single page app for creating interactive dashboards, I've built the ember frontend, rails backend and the data proxy in scala
            .technology
              .title Technologies used:
              .text Amazon Web Services, Fastly, Ember.js, Ruby on Rails, Scala, Akka-http
        .project.clearfix
          .col-xs-3
            .name Other projects
          .col-xs-9
            .description I've worked for other smaller projects about data visualization, mobile apps prototypes in javascript and android etc.
            .technology
              .title Technologies used:
              .text Ruby on Rails, Scala, Java, Ember.js, D3, Middleman, jQuery etc.
      .box
        %h2 Tools
        %p During my everyday work I use many tools and services like Git, Github, CircleCI, Chef, Amazon Web Services (EC2, S3, SQS, SNS, Cloudformation, Cloudfront), MySql, PostgreSql, Redis
      .box
        %h2 Where I live
        %iframe{ frameBorder: 0, width: '100%', height: '300px', src: 'https://a.tiles.mapbox.com/v4/alex88.l3558nao/attribution.html?access_token=pk.eyJ1IjoiYWxleDg4IiwiYSI6InlzUzBlbWsifQ.OQjesfjDxWSpicoGjpHYKQ#3/50.90/6.15' }
    .col-xs-12.col-sm-5
      .box.contact
        %h2 Contact me
        .contact-item
          .icon.pull-left.text-center
            %i.fa.fa-envelope.fa-fw
          .title.alone.pull-right
            tagliapietra.alessandro@gmail.com
        .contact-item
          .icon.pull-left.text-center
            %i.fa.fa-twitter.fa-fw
          .title.pull-right
            Twitter
          .description.pull-right
            = link_to 'https://twitter.com/4l3x88', 'https://twitter.com/4l3x88', target: '_blank'
        .contact-item
          .icon.pull-left.text-center
            %i.fa.fa-github.fa-fw
          .title.pull-right
            Github
          .description.pull-right
            = link_to 'https://github.com/alex88', 'https://github.com/alex88', target: '_blank'
        .contact-item
          .icon.pull-left.text-center
            %i.fa.fa-linkedin.fa-fw
          .title.pull-right
            Linkedin
          .description.pull-right
            = link_to 'https://it.linkedin.com/in/alessandrotagliapietra', 'https://it.linkedin.com/in/alessandrotagliapietra', target: '_blank'
        .contact-item
          .icon.pull-left.text-center
            %i.fa.fa-facebook.fa-fw
          .title.pull-right
            Facebook
          .description.pull-right
            = link_to 'http://fb.co/tagliapietra.alessandro', 'http://fb.co/tagliapietra.alessandro', target: '_blank'
        .contact-item
          .icon.pull-left.text-center
            %i.fa.fa-skype.fa-fw
          .title.pull-right
            Skype
          .description.pull-right
            = link_to 'tagliapietra.alessandro88', 'skype:tagliapietra.alessandro88?chat'
      .box.skills
        %h2 Skills
        .skills
          .item-skills.size-90 Ruby (RoR)
          .item-skills.size-80 Javascript (AngularJS, Ember.js)
          .item-skills.size-80 PHP (Symfony, Laravel)
          .item-skills.size-30 Python
          .item-skills.size-30 Scala (Play, Akka)
          .item-skills.size-20 Go
          .clearfix

      .box.languages
        %h2 Languages
        .language
          Italian
          .rating.pull-right
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
        .clearfix
        .language
          English
          .rating.pull-right
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star-o
            %i.fa.fa-star-o
      .box.hobbies
        %h2 Hobbies
        %span.badge Volleyball
        %span.badge Programming
        %span.badge Online Gaming
        %span.badge Reading
        %span.badge Workout
        %span.badge Photography
